/* || Main content */
.main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
}

/* For the 3 elliptical boxes */
.main-content__box {
    height: 420px;
    width: 290px;
    min-width: 240px;
    border-radius: 204px;
}

/* ====== Left elliptical box ====== */
.main-content__box--left {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 32px;

    background: linear-gradient(180deg, var(--color-black-green-start),
            var(--color-black-green-end));

    z-index: 1;

    position: relative;
}

.main-content__box__top-curved-text {
    position: absolute;
    top: 0;
    left: 0;
}

.curved-text text {
    fill: var(--color-white);
    font-family: var(--font-poppins);
    font-size: 16px;
    letter-spacing: 2px;
    font-weight: 400;
    text-transform: uppercase;
    user-select: none;
}

.main-content__box__small-star {
    min-width: 24px;
    width: 24px;
    margin-top: 20px;
}

.main-content__box__hero-text {
    font-family: var(--font-hatton);
    font-size: 3.4rem;
    text-align: center;
}

.main-content__box__hero-text__top {
    font-size: 2rem;
}

.main-content__box__btn-discover {
    padding: 18px 28px 15px;
    line-height: 1.2;
    font-size: 14px;
    font-family: var(--font-rubik);
    font-weight: 500;
    color: var(--color-black-green-end);
    background-color: var(--color-yellow);
    border-radius: 24px;
    border: 2px solid transparent;
    text-transform: uppercase;
    transition: .5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.main-content__box__btn-discover:hover {
    border-color: var(--color-white);
    background-color: var(--color-black-green-end);
    color: var(--color-yellow);
}

.main-content__box__btn-discover:focus {
    border-color: var(--color-peru);
    background-color: var(--color-white);
    color: var(--color-black-green-end);
}

/* ====== Center elliptical box ====== */
.main-content__box--center {
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 0 -44px;
    background: url('/assets/img/background-blue-agate.jpg') no-repeat center center / cover;
}

.main-content__box__green-star {
    --size: 140px;
    width: var(--size);
    height: var(--size);
    line-height: calc(var(--size) + 5px);
    font-family: var(--font-hatton);
    font-size: 2rem;
    text-align: center;
    color: var(--color-white);

    background: url('/assets/img/green-star.svg') no-repeat center center / cover;
}

/* ====== Right elliptical box ====== */
.main-content__box--right {
    display: flex;
    justify-content: end;

    background: url('/assets/img/girl-afro-hair.png') no-repeat center center / cover;
    box-shadow: -3px 12px 3px -12px var(--color-white),
        7px 10px 3px -12px var(--color-white),
        12px 10px 2px -16px var(--color-white),
        23px 7px 3px -23px var(--color-white);
    z-index: 1;

    position: relative;
}

.main-content__box__text-century {
    font-family: var(--font-hatton);
    font-size: 2rem;
    text-align: left;
    width: 150px;
    margin: 20px 20px 0 0;
}


.main-content__box__corner-curved-text {
    position: absolute;
    bottom: 0;
    right: 0;
    transform: rotate(180deg);
}

.main-content__box__corner-curved-text text {}


/* ==================== || Responsive ==================== */
@media screen and (max-width: 720px) {
    .main-content {
        flex-direction: column;
        gap: 32px;
    }
}