/* || Header */
.world-header {
    display: flex;
    justify-content: center;
}

/* Navbar */
.world-header__navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 48px;

    height: 54px;
    width: 872px;
    max-width: 95%;

    margin: 20px 0 44px;
    padding-left: 20px;

    border: 1px solid #fffffc53;
    border-radius: 44px;
}

/* Hide the button-menu on desktop screens */
.world-header__btn-menu {
    display: none;
}

/* menu-button to display the mobile-menu */
.world-header__btn-menu::before {
    content: "\2630";
    color: var(--color-white);
    font-size: 18px;
    padding: 8px 10px;
    transition: .5s;
}

.world-header__btn-menu:hover:before {
    cursor: pointer;
    color: var(--color-yellow);
}

/* Site logo */
.world-header__navbar__logo-link {
    min-width: 52px;
    height: auto;
}

.world-header__navbar__logo-img {
    width: clamp(52px, 100%, 72px);
    transition: .5s;
}

.world-header__navbar__logo-img:hover {
    opacity: .8;
    transform: translateX(5px);
}

/* Menu Links Wrapper */
.world-header__navbar__links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 26px;
}

.world-header__navbar__links_item {
    color: var(--color-white);
    font-size: 14px;
    font-family: var(--font-rubik);
    font-weight: 400;
    padding: 10px 0;
    line-height: 1.5;
    user-select: none;
    text-transform: uppercase;

    transition: .5s;
}

.world-header__navbar__links_item:hover {
    color: var(--color-yellow);
}

/* "Cart" menu-links item */
.world-header__navbar__links_item--cart {
    display: flex;
    align-items: center;
    gap: 16px;
}

.world-header__navbar__links_item--cart::after {
    content: '0';
    width: 54px;
    height: 54px;

    position: relative;
    right: -2px;
    line-height: 3.5rem;

    border-radius: 50%;
    background-color: var(--color-yellow);

    color: var(--color-black-green-start);
    font-family: var(--font-hatton);
    font-size: 16px;
    text-align: center;

    border: 2px solid transparent;
    transition: .5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.world-header__navbar__links_item--cart:hover:after {
    border-color: var(--color-white);
    background-color: var(--color-black-green-end);
    color: var(--color-yellow);
}


/* ==================== Menu for Mobile screens ==================== */
/* Modal container with blue-transparent color and parent tag of Menu-Links Wrapper */
.world-header__mobile-nav {
    position: absolute;
    top: 0;
    /* To animate the opening and closing of the menu */
    left: -100%;

    width: 100%;
    height: 100vh;
    background-color: #232333bf;

    transition: .5s;

    /* To display above the elleptic boxes */
    z-index: 5;
}

/* To display the menu when clicking on menu-button */
.world-header__mobile-nav--active {
    left: 0;
}

/* Menu Links Wrapper */
.world-header__mobile-nav__links {
    width: 80%;
    height: 100%;

    display: flex;
    flex-direction: column;
    gap: 12px;
    padding-top: 82px;

    background-color: #fcfffe;
    background-color: var(--color-yellow);
}

/* button to close mobile-menu */
.world-header__close-menu {
    display: block;
    position: absolute;
    top: 12px;
    left: calc(80% - 50px);
    border-radius: 50%;
    background-color: var(--color-green);
    border: 2px solid transparent;
    padding: 7px 0 6px;
    z-index: 1;

    transition: .5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.world-header__close-menu:hover {
    background-color: var(--color-white);
    transform: rotate(90deg);
}

.world-header__close-menu:active {
    border: 2px solid #3a6d6dbf;
}

.world-header__close-menu::before {
    content: "\2716";
    color: var(--color-white);
    font-size: 18px;
    padding: 5px 10px;
    transition: .5s;
}

.world-header__close-menu:hover:before {
    cursor: pointer;
    color: var(--color-green);
}

/* Menu-Links item */
.world-header__mobile-nav__links_item {
    color: var(--color-green);
    font-size: 18px;
    font-family: var(--font-rubik);
    font-weight: 500;
    text-align: center;
    line-height: 1.4;
    text-transform: uppercase;
    user-select: none;
    width: 100%;
    padding: 12px 0 8px;
    line-height: 1.5;
    border-bottom: 2px solid var(--color-green);
    transition: .5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.world-header__mobile-nav__links_item:hover {
    background-color: var(--color-white);
    color: black;
    letter-spacing: 2px;
}


/* ==================== || Responsive ==================== */
/* for screens with a width <= 680px */
@media screen and (max-width: 680px) {

    /* Hide desktop-menu (precisely the links to the center) */
    .world-header__navbar__links {
        display: none;
    }

    /* Show mobile menu-button */
    .world-header__btn-menu {
        display: block;
    }
}

/* for screens with a width <= 340px */
@media screen and (max-width: 340px) {

    /* Hide "Cart" link item */
    .world-header__navbar__links_item--cart {
        display: none;
    }

    /* Center the site's logo in desktop menu-links wrapper */
    .world-header__navbar {
        padding-left: 0;
    }

    .world-header__btn-menu {
        position: absolute;
        left: 20px;
    }

    .world-header__navbar__logo-link {
        text-align: center;
    }
}