/* || Fonts Import */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap');

@font-face {
    font-family: "hatton";
    src: url("/assets/fonts/hatton/Hatton-Bold-700.otf");
}

@font-face {
    font-family: "hatton-medium";
    src: url("/assets/fonts/hatton/Hatton-Medium-500.otf");
}


/* || CSS Variables */
:root {
    --color-green: #294242;
    --color-black-green-start: #101c1c;
    --color-black-green-end: #181c1b;
    --color-white: #fcfffe;
    --color-yellow: #f7b941;
    --color-peru: #966c18;

    --font-hatton: hatton, Georgia, serif;
    --font-roboto: 'Roboto', sans-serif;
    --font-rubik: 'Rubik', sans-serif;
}


/* || General Styles */
body {
    color: var(--color-white);
    background: var(--color-green);
    font-family: var(--font-roboto);
    font-size: 16px;
    font-weight: 400;

    height: 100vh;
}

/* Height of body tag when opening the mobile menu */
.body-height-open-mobile-menu {
    height: 100vh;
    overflow-y: hidden;
}

img {
    width: 100%;
    height: auto;
    vertical-align: middle;
}