/* || Main content */
.main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
}

/* APply to the 3 elliptical boxes */
.main-content__box {
    /* fluid between 320px to 680px */
    height: clamp(23.125rem, 13.889vw + 20.347rem, 26.25rem);
    width: clamp(15rem, 13.889vw + 12.222rem, 18.125rem);
    border-radius: 204px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
    user-select: none;
}


/* ====== Left elliptical box ====== */
.main-content__box--left {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 32px;

    background: linear-gradient(180deg, var(--color-black-green-start),
            var(--color-black-green-end));

    z-index: 1;

    position: relative;
}

.main-content__box__top-curved-text {
    position: absolute;
    top: 0;
    left: 0;
}

.curved-text text {
    fill: var(--color-white);
    font-family: var(--font-poppins);
    font-size: 16px;
    letter-spacing: 2px;
    font-weight: 400;
    text-transform: uppercase;
}

.main-content__box__top-curved-text text {
    transform: translateX(-2px);
}

.main-content__box__small-star {
    /* fluid between 320px to 680px */
    min-width: clamp(1.25rem, 1.111vw + 1.028rem, 1.5rem);
    width: clamp(1.25rem, 1.111vw + 1.028rem, 1.5rem);
    margin-top: 20px;
}

.main-content__box__hero-text {
    font-family: var(--font-hatton);
    /* fluid between 320px to 768px */
    font-size: clamp(2rem, 4.911vw + 1.018rem, 3.375rem);
    text-align: center;
}

.main-content__box__hero-text__top {
    display: block;
    /* fluid between 320px to 768px */
    font-size: clamp(1.5rem, 1.786vw + 1.143rem, 2rem);
    line-height: 1.2;
}

.main-content__box__btn-discover {
    padding: 18px 28px 15px;
    line-height: 1;
    font-size: .9rem;
    font-family: var(--font-rubik);
    font-weight: 500;
    color: var(--color-black-green-end);
    background-color: var(--color-yellow);
    border-radius: 30px;
    border: 2px solid transparent;
    text-transform: uppercase;
    transition: .5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.main-content__box__btn-discover:hover {
    border-color: var(--color-white);
    background-color: var(--color-black-green-end);
    color: var(--color-yellow);
}

.main-content__box__btn-discover:focus {
    border-color: var(--color-peru);
    background-color: var(--color-white);
    color: var(--color-black-green-end);
}


/* ====== Center elliptical box ====== */
.main-content__box--center {
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 0 -44px;
    background: url('/assets/img/background-blue-agate.jpg') no-repeat center center / cover;
}

.main-content__box__green-star {
    /* fluide between 320px to 680px */
    --size: clamp(6.875rem, 8.333vw + 5.208rem, 8.75rem);
    width: var(--size);
    height: var(--size);
    line-height: calc(var(--size) + 5px);
    font-family: var(--font-hatton);

    /* fluid between 320px to 768px */
    font-size: clamp(1.5rem, 1.786vw + 1.143rem, 2rem);
    text-align: center;
    color: var(--color-white);

    background: url('/assets/img/green-star.svg') no-repeat center / cover;
}


/* ====== Right elliptical box ====== */
.main-content__box--right {
    display: flex;
    justify-content: end;

    background: url('/assets/img/girl-afro-hair.png') no-repeat center center / cover;
    box-shadow: -3px 12px 3px -12px var(--color-white),
        7px 10px 3px -12px var(--color-white),
        12px 10px 2px -16px var(--color-white),
        23px 7px 3px -23px var(--color-white);
    z-index: 1;

    position: relative;
}

.main-content__box__text-century {
    font-family: var(--font-hatton);
    font-size: clamp(1.5rem, 1.786vw + 1.143rem, 2rem);
    line-height: 1.1;
    text-align: left;
    width: 150px;
    margin: 20px 20px 0 0;
}

.main-content__box__corner-curved-text {
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translate(-4px, -4px) rotate(-3deg);
}

.main-content__box__corner-curved-text text {
    letter-spacing: 4px;
}


/* ==================== || Responsive ==================== */
@media screen and (max-width: 720px) {
    .main-content {
        flex-direction: column;
        gap: 32px;
    }
}

@media screen and (max-width: 480px) {
    .main-content__box__btn-discover {
        padding: 14px 20px 10px;
        font-size: .8rem;
    }
}